# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# Virtualenv
.venv/

# Output files
*.log

# Playwright cache (optional)
playwright/.cache/

# VSCode or other editor settings
.vscode/
.idea/

# MacOS
.DS_Store

# Environment
.env

**/node_modules/
